.logo{
    width: 150px;
    background-color: red;
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.navbar{
display: flex;
align-items: center;
gap: 75px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search,.account,.bag,.liked,.menu {
    width: 30px;
    height: 30px;

}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.section{
   background-color:goldenrod;
   height: 290px;
   display: flex;
}

#descrip{
    font-size: x-large;
}

.Boutique{
    height: 300px;
    width: 400px;
}

.description{
    padding: 40px;
    margin-left: 20px;
}

.section2{
    display: flex;
}

.img1{
    background-color: goldenrod;
    height: 350px; 
    width: 430px;
    margin-left: 70px;
}

#womens{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

  .img2{  
     background-color: goldenrod; 
     height: 350px; 
     width: 430px; 
     margin-left: 240px;
}

#trendy{
    font-size: xx-large;
    text-align: center;
}

.selection{
display: flex;
font-size: larger;
justify-content: center;
gap: 75px;
}

.pics{
    display: flex;
}
